:root {
	--basic-black: #000000;
	--basic-white: #ffffff;
  --special-white: #E5E5E5;
  --basic-bage: #9e8c6c;
  --special-lite-bage: #f5f4f0;
  --special-white-bage: navajowhite;
	--special-green: #0699A6;
}

body {
  min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	position: relative;
	width: 1440px;
	margin: 0 auto;
	padding: 0;
  font-family: "PTSans-Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

h1 {
  font-family: "PlayfairDisplay-Black", "Arial", sans-serif;
  font-size: 100px;
  line-height: 112px;
  letter-spacing: -2.17241px;
}

h2 {
  font-family: "PlayfairDisplay-Black", "Arial", sans-serif;
  font-size: 36px;
  line-height: 46px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-bage);
}

h4 {
  font-family: "PlayfairDisplay-Black", "Arial", sans-serif;
  font-size: 66px;
  line-height: 82px;
  letter-spacing: -1.13793px;
  text-align: center;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-right: 70px;
  padding-left: 103px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--special-green);
}

.menu p {
  color: var(--basic-white);
}

.header__info {
  display: flex;
  height: 570px;
  background-image: linear-gradient(-5.3deg, white 133px, #f5f4f0 134px);
  padding-top: 117px;
}

.projects-link {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.projects-link--index,
.main-link--work {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  border-radius: 15px;
  background-color: rgb(81, 184, 193);
  transition: all 0.4s ease;
}

.projects-link--index:hover,
.main-link--work:hover {
  color:#0699A6;
  background-color: #f5f4f0;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.info__photo-wrapper {
  padding-left: 165px;
  padding-right: 125px;
}

.photo {
  border-radius: 50%;
  -webkit-filter: grayscale(1); /* Webkit браузеры */
        filter: gray; /* для IE6-9 */
        filter: grayscale(1); /* W3C */
}

.text__profession {
  margin-top: 5px;
  margin-bottom: 12px;
}

.text__name {
  margin-top: 0;
  margin-bottom: 35px;
}

.text__pdf-link {
  display: block;
  height: 43px;
  width: 225px;
  text-align: center;
  padding-top: 17px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: 700;
  background-color: var(--special-green);
  text-transform: uppercase;
  border-radius: 15px;
  transition: all 0.4s ease;
}

.text__pdf-link:hover {
  background-color: #51b8c1;
  color: #000000;
  transition: all 0.4s ease;
  border-radius: 5px;
}

main {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-top: 63px;
  background-color: var(--basic-white);
}

.main__facts {
  width: 100%;
}

.facts__title {
  text-align: center;
}

.work {
  width: 635px;
  margin-right: 165px;
  background-color:var(--basic-white);
}

.about-me__title {
  display: block;
  margin-top: 20px;
  margin-bottom: 0pt;
}

.about-me__data-list {
  margin-top: 20px;
  font-size: 20px;
}

.about-me__data-list li{
  position: relative;
  margin-left: 30px;
}

.about-me__data-list li::before{
  content: '';
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius:50%;
  background-color: var(--basic-black);
  top: 15px;
  left: -17px;
}

.work__work-place {
  position: relative;
  margin-top: 155px;
}

.work-place::before {
  position: absolute;
  content: "";
  width: 71px;
  height: 10px;
  background: var(--special-green);
  top: -75px;
}

.company-name,
.education__title {
  letter-spacing: 1px;
}

.work__work-place p,
.work__education p,
.main__experience p,
.projects p,
.certificates p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.work-place__big-title {
  margin-bottom: 0pt;
}

.work__work-place ul {
  font-size: 20px;
}

.work__work-place ul li{
  position: relative;
  margin-left: 30px;
}

.work__work-place ul li::before{
  content: '';
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius:50%;
  background-color: var(--basic-black);
  top: 15px;
  left: -17px;
}

.work-place__title-time:not(:first-of-type){
  margin-top: 77px;
}

.experience {
  width: 350px;
  margin-left: 165px;
  background-color: var(--basic-white);
}

.work__education {
  position: relative;
  margin-top: 142px;
}

.education::before {
  position: absolute;
  content: "";
  width: 71px;
  height: 10px;
  background: var(--special-green);
  top: -79px;
}

.education__big-title {
  margin-bottom: 33px;
}

.education .education__specialization {
  margin-top: 32px;
}

.skills {
  padding-top: 11px;
}

.skills__title {
  margin-bottom: 8px;
}

.experience__certificates {
  margin-top: 100px;
}

.sertificates__title {
  margin-bottom: 10px;
}

.experience__broadcasters {
  margin-top: 97px;
}

.broadcasters__title {
  margin-bottom: 9px;
}

.experience__manufacturers {
  margin-top: 102px;
}

.experience__manufacturers a,
.experience__certificates a {
  font-size: 20px;
  line-height: 34px;
  font-weight: 700;
  color: var(--special-green);
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.experience__manufacturers a:hover,
.experience__certificates a:hover {
  opacity: 0.3;
  font-size: 26px;
  transition: all 0.3s ease;
}

.main__certificates a {
  font-size: 20px;
  line-height: 34px;
  font-weight: 700;
  color: var(--special-green);
  transition: all 0.4s ease;
}

.main__certificates a:hover {
  opacity: 0.3;
  transition: all 0.4s ease;
}

.experience__manufacturers ul li{
 height: 34px;
}

.manufacturers__title {
  margin-bottom: 9px;
}

.title-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0;
  margin-top: 30px;
  margin-bottom: 24px;
}

.title-time .time-period {
  font-size: 18px;
  line-height: 24px;
}

.broadcasters p {
  font-weight: 700;
}

.work-place__position-1 {
  line-height: 30px;
}

.broadcasters p span {
  font-weight: 400;
}

footer {
  margin-top: 17px;
  padding-top: 69px;
  background-image: linear-gradient(-5.3deg, #f5f4f0 427px, white 0);
}

.footer__title {
  margin-bottom: 0;
}

.footer__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(0.8, 0.8);
}

.footer__menu {
  margin-top: 9px;
}

.main__projects {
  margin-left: auto;
  margin-right: auto;
}

.main__certificates {
  margin-left: auto;
  margin-right: auto;
}

.main__statistic {
  margin-left: auto;
  margin-right: auto;
}

.projects__broadcaster {
  margin-top: 50px;
}

.projects__title {
  text-align: center;
}

.broadcaster__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.info__project-description {
  width: 100%;
}

.progect-object {
  font-weight: 700;
}

.broadcaster__info .project-time {
  font-size: 18px;
}


@font-face {
	font-family: "PTSans-Narrow";
	src: url("../font/PTSans-Narrow.woff2") format("woff2"),
		url("../font/PTSans-Narrow.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "PTSans-Narrow";
	src: url("../font/PTSans-NarrowBold.woff2") format("woff2"),
		url("../font/PTSans-NarrowBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "PlayfairDisplay-Black";
	src: url("../font/PlayfairDisplay-Black.woff2") format("woff2"),
		url("../font/PlayfairDisplay-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
