:root {
	--basic-black: #000000;
	--basic-white: #ffffff;
  --special-white: #E5E5E5;
  --basic-bage: #9e8c6c;
  --special-lite-bage: #f5f4f0;
  --special-white-bage: navajowhite;
	--special-green: #0699A6;
}

body {
  min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	position: relative;
	width: 1440px;
	margin: 0 auto;
	padding: 0;
  font-family: "PTSans-Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

h1 {
  font-family: "PlayfairDisplay-Black", "Arial", sans-serif;
  font-size: 100px;
  line-height: 112px;
  letter-spacing: -2.17241px;
}

h2 {
  font-family: "PlayfairDisplay-Black", "Arial", sans-serif;
  font-size: 36px;
  line-height: 46px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-bage);
}

h4 {
  font-family: "PlayfairDisplay-Black", "Arial", sans-serif;
  font-size: 66px;
  line-height: 82px;
  letter-spacing: -1.13793px;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-right: 105px;
  padding-left: 105px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--special-green);
}

.menu p {
  color: var(--special-white-bage);
}

.header__info {
  display: flex;
  height: 687px;
  outline-offset: 1px;
  background-color: var(--special-lite-bage);
  padding-top: 165px;
}

.info__photo-wrapper {
  padding-left: 165px;
  padding-right: 125px;
}

.photo {
  border-radius: 50%;
}

.text__pdf-link {
  display: block;
  height: 43px;
  width: 225px;
  text-align: center;
  padding-top: 17px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: 700;
  background-color: var(--special-green);
  text-transform: uppercase;
}

main {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: aliceblue;
}

.experience {
  background-color:gainsboro;
}

.about-me__data-list {
  font-size: 20px;
}

.work-experience__title,
.education__title {
  letter-spacing: 1px;
}

.experience__work-experience p,
.experience__education p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.experience__work-experience ul {
  font-size: 20px;
}

.skills {
  background-color: aquamarine;
}

.skills__manufacturers a {
  font-size: 20px;
  line-height: 34px;
  font-weight: 700;
  color: var(--special-green);
  text-transform: uppercase;
}

footer {
  height: 470px;
  background-color: var(--special-lite-bage);
}

.footer__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@font-face {
	font-family: "PTSans-Narrow";
	src: url("../font/PTSans-Narrow.woff2") format("woff2"),
		url("../font/PTSans-Narrow.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "PTSans-Narrow";
	src: url("../font/PTSans-NarrowBold.woff2") format("woff2"),
		url("../font/PTSans-NarrowBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "PlayfairDisplay-Black";
	src: url("../font/PlayfairDisplay-Black.woff2") format("woff2"),
		url("../font/PlayfairDisplay-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
