:root {
	--basic-black: #000000;
	--basic-white: #ffffff;
  --special-white: #E5E5E5;
  --special-bage: #9E8C6C;
	--special-green: #0699A6;
}

main {
  font-family: "PlayfairDisplay-Black", "Arial", sans-serif;
}

@font-face {
	font-family: "PTSans-Narrow";
	src: url("../font/PTSans-Narrow.woff2") format("woff2"),
		url("../font/PTSans-Narrow.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "PTSans-Narrow";
	src: url("../font/PTSans-NarrowBold.woff2") format("woff2"),
		url("../font/PTSans-NarrowBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "PlayfairDisplay-Black";
	src: url("../font/PlayfairDisplay-Black.woff2") format("woff2"),
		url("../font/PlayfairDisplay-Black.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
